.page-characteristics{
  background: #1D222B;
}

.page-characteristics .page__content {
  padding-top: 185px;
  margin-bottom: 120px;
  @include to(1440px){
    padding-top: 135px;
    margin-bottom: 80px;
  }
  @include to(992px){
    padding-top: 140px;
  }
  @include to(576px){
    padding-top: 90px;
  }
}

.page-title-v1-wrap{

}
.page-title-v1{
  margin-bottom: 40px;
  padding-bottom: 30px;
  position: relative;
  font-size: max(vw(36, 1920), 36px);
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #E2E3E4;
  @include to(1440px){
    font-size: 30px;
    padding-bottom: 20px;
  }
  @include to(576px) {
    text-align: left;
    font-size: max(20px, vw(20, 320));
    line-height: 130%;
    padding: 0 40px;
  }
  &::after{
    display: flex;
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 1px;
    width: 50px;
    background-color: rgba(226, 227, 228, 0.3);
    @include to(576px) {
      display: none;
    }
  }
}

.characteristics-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  max-width: 1920px;
  padding: 0 min(vw(170, 1920), 170px);
  margin: 0 auto;
  --pad: 50px;
  @include to(1440px) {
    --pad: 30px;
  }
  @include to(992px) {
    grid-template-columns: 1fr 1fr;
    padding: 0 20px;
  }
  @include to(576px) {
    grid-template-columns: 1fr;
    --pad: 40px;
  }
}

.characteristics-item{
  display: flex;
  flex-direction: column;
}
.characteristics-item{
  .characteristics-item-text-wrap{
    display: flex;
    flex-wrap: wrap;
    p:last-child{
      margin-bottom: 0;
    }
  }
}
.characteristics-item {
  max-width: 350px;
  @include to(1440px){
    max-width: 250px;
  }
  @include to(992px){
    max-width: none;
  }
  @include to(576px){
    width: 100%;
  }
  &-wrap {
    padding: var(--pad);
    border: 1px solid #31353D;
    &:first-child {
      grid-column: span 3;
      .characteristics-item {
        max-width: none;
      }
      @include to(992px) {
        grid-column: span 2;
      }
      @include to(576px) {
        grid-column: 1;
      }
    }

    @include from(992px) {
      &:nth-child(3n+2) {
        .characteristics-item {
          margin: 0 auto 0 0;
        }
      }
      &:nth-child(3n+3) {
        .characteristics-item {
          margin: 0 auto;
        }
      }
      &:nth-child(3n+4) {
        .characteristics-item {
          margin: 0 0 0 auto;
        }
      }
    }
  }
  &__title{
    //max-width: 350px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: min(vw(20, 1920), 20px);
    line-height: 140%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #CFA46E;
    @include to(1440px){
      font-size: 20px;
    }
    @include to(768px){
      font-size: 24px;
      margin-bottom: 20px;
    }
    @include to(576px){
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
  &__text {
    margin-bottom: 30px;
    font-size: min(vw(16, 1920), 16px);
    line-height: 140%;
    /* or 22px */

    color: #C1C1C1;
    @include to(1440px){
      font-size: 16px;
    }
    @include to(768px){
      font-size: 18px;
    }
    @include to(576px){
      font-size: 13px;
    }
  }
}

.characteristics-item-wrap.characteristics-item--width{
  width: 100%;
  padding: var(--pad);
  @include to(992px) {
    padding: var(--pad) 0;
  }
  .characteristics-item__title {
    width: 33.33%;
    @include to(992px){
      width: 50%;
      padding: 0 var(--pad);
    }
    @include to(576px){
      width: 100%;
    }
  }
  .characteristics-item-text-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @include to(992px) {
      display: inline-block;
      column-count: 2;
      //grid-template-columns: 1fr 1fr;
      padding: 0;
    }
    @include to(576px) {
      display: inline-block;
      column-count: 1;
      padding: 0;
    }
    p {
      padding: 0;
      width: 100%;
      max-width: 350px;
      @include from(992px) {
        &:nth-child(3n+1) {
          margin: 0 auto 30px 0;
        }
        &:nth-child(3n+2) {
          margin: 0 auto 30px;
          padding: 0 30px;
          @include to(1440px) {
            padding: 0 15px;
          }
        }
        &:nth-child(3n+3) {
          margin: 0 0 30px auto;
        }
      }
      @include to(1440px){
        max-width: 250px;
      }
      @include to(992px){
        //width: 50%;
        max-width: none;
        padding: 0 var(--pad);
      }
      @include to(576px){
        width: 100%;
      }
    }
    p:last-child{
      margin-bottom: 30px;
    }
  }
}
