.page-documents {
  .page__content {
    padding: 185px 0 0 0;
    @include to(1440px) {
      padding: 135px 0 0 0;
    }
    @include to(992px) {
      padding: 140px 0 0 0;
    }
    @include to(576px) {
      padding: 90px 0 0 0;
    }
  }
  .title {
    margin: 0;
    text-align: center;
    @include to(576px) {
      text-align: left;
    }
  }
}

.document {
  width: 100%;
  padding: 0 0 35px;
  margin-top: 50px;
  border-bottom: 1px solid #E2E3E4;
  @include to(1440px) {
    margin-top: 40px;
  }
  @include to(992px) {
    margin-top: 50px;
    padding: 0 0 30px;
  }
  @include to(576px) {
    margin-top: 30px;
    padding: 0 0 20px;
  }
  &-wrap {
    margin: 0 vw(250, 1920) 120px;
    @include to(1440px) {
      margin: 0 vw(160, 1360) 80px;
    }
    @include to(992px) {
      margin: 0 vw(40, 768) 80px;
    }
    @include to(576px) {
      margin: 0 vw(20, 320) 50px;
    }
  }
  &__data {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #C1C1C1;
    @include to(1440px) {
      font-size: 14px;
    }
    @include to(576px) {
      font-size: 12px;
    }
    @include to(480px) {
      font-size: 10px;
    }
  }
  &__icon {
    display: inline-block;
    width: 30px;
    height: 40px;
    margin-right: 30px;
    @include to(1440px) {
      width: 22px;
      height: 30px;
      margin-right: 20px;
    }
    @include to(576px) {
      width: 15px;
      height: 20px;
      margin-right: 15px;
    }
    img {
      height: 100%;
      width: 100%;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    margin-top: 33px;
    @include to(1440px) {
      margin-top: 22px;
    }
    @include to(992px) {
      margin-top: 20px;
    }
  }
  &__name {
    margin-right: 40px;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    text-decoration-line: underline;
    text-decoration-skip-ink: none;
    color: #1A2941;
    @include to(1440px) {
      font-size: 20px;
      line-height: 130%;
    }
    @include to(992px) {
      font-size: 22px;
      line-height: 140%;
    }
    @include to(576px) {
      font-size: 16px;
      line-height: 120%;
    }
  }
  &__link {
    display: flex;
    align-content: center;
    align-items: center;
    flex-shrink: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    color: $gold;
    &-icon {
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 50px;
      margin-left: 40px;
      border: 1px solid $gold;
      border-radius: 50%;
      svg {
        height: 45%;
        width: 45%;
        fill: $gold;
      }
      @include to(1440px) {
        height: 35px;
        width: 35px;
        margin-left: 30px;
      }
      @include to(576px) {
        height: 28px;
        width: 28px;
        margin-left: 0;
      }
    }
    &-name {
      position: relative;
      overflow: hidden;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        border-bottom: 1px solid $gold;
        transform: translateX(-102%);
        transition: transform 0.4s ease-in;
      }
      @include to(576px) {
        display: none;
      }
    }
    @include from(1023px) {
      &:hover {
        svg {
          animation: download 0.9s linear infinite;
        }
        .document__link-name:after{
          transform: translateX(0);
        }
      }
    }
    @include to(1440px) {
      font-size: 14px;
    }
    @include to(992px) {
      font-size: 18px;
    }
  }
  &__title {
    color: $dark;
  }
}


@keyframes download {
  from {
    transform: translateY(-10%);
  }
  40%{
    transform: translateY(25%);
  }
  80%{
    transform: translateY(-10%);
  }
  to {
    transform: translateY(-10%);
  }
}
