.page-gallery {
  .page__content {
    padding: 185px 0 0 0;
    @include to(1440px) {
      padding: 135px 0 0 0;
    }
    @include to(992px) {
      padding: 140px 0 0 0;
    }
    @include to(576px) {
      padding: 90px 0 0 0;
    }
  }
  .title {
    margin: 0;
    color: $mc;
    text-align: center;
    &:after {
      border-bottom-color: #E2E3E4;
    }
  }
  .swiper-nav {
    z-index: 9;
    display: flex;
    justify-content: center;
    height: 0;
    @include to(992px) {
      height: initial;
      margin: 50px auto 0;
    }
    @include to(576px) {
      margin: 20px auto 0;
    }
  }
  .swiper-pagination {
    display: flex;
    align-items: center;
    align-content: center;
    position: static;
    width: initial;
    flex-shrink: 0;
    visibility: hidden;
    font-size: 16px;
    font-family: $default-font;
    font-weight: 500;
    line-height: 100%;
    color: #C4C7CC;

    span {
      margin: 0 3px;
    }

    @include to(992px) {
      position: static;
      visibility: visible;
    }
    @include to(576px) {
      font-size: 10px;
    }
  }
  .swiper-pagination-current {
    color: $dark;
  }
  .swiper-pagination-bullet {
    margin: 0 4px;
    background: rgba(226, 227, 228, 0.7);
  }
  .swiper-pagination-bullet-active {
    background: #E2E3E4;
  }
}

.gallery {
  display: flex;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 120px;
  @include to(1440px) {
    margin-top: 40px;
    margin-bottom: 80px;
  }
  @include to(992px) {
    margin-top: 40px;
  }
  @include to(576px) {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  &__slider {
    display: inline-block;
    width: 100%;
    overflow: hidden;
  }
  &__arrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
    background: $dark;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 73px;
    width: 73px;
    z-index: 10;
    @include to(992px) {
      position: static;
      height: initial;
      width: initial;
      background: none;
      border-radius: 0;
    }
    svg {
      margin: 0;
      fill: $light;
      @include to(992px) {
        fill: $dark;
      }
    }
    &--prev {
      left: 50px;
      transform: translate(-50%, -50%);
      svg {
        transform: rotate(-180deg);
      }
      @include to(992px) {
        transform: none;
        margin-right: 40px;
      }
      @include to(576px) {
        margin-right: 20px;
      }
    }
    &--next {
      right: 50px;
      transform: translate(50%, -50%);
      @include to(992px) {
        transform: none;
        margin-left: 40px;
      }
      @include to(576px) {
        margin-left: 20px;
      }
    }
  }
}
