.home {
  &-section{
    &-0 {
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100vh;
      width: 100%;
    }
    &-1 {
      position: relative;
      height: 100vh;
      width: 100%;
      @include to(992px) {
        background: $bg;
      }
      .home-section__content {
        background: $bg;
        @include to(992px) {
          background: transparent;
        }
      }
      .sliceFigure {
        fill: $bg;
      }
    }
    &-2 {
      position: relative;
      height: initial;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      align-content: flex-start;
      padding: 140px 0 0;
      @include to(1440px) {
        padding: 100px 0 0;
      }
      @include to(992px) {
        min-height: auto;
        padding: 170px 0 calc(100vh - 350px);
      }
      @include to(576px) {
        padding: 0;
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-content: flex-start;
      }
      &__img {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
        @include to(576px) {
          position: static;
          grid-row: 1 /span 2;
          grid-column: 1;
        }
      }
      &__title {
        font-weight: 400;
        font-size: 68px;
        line-height: 1.2em;
        text-transform: uppercase;
        color: $light;
        white-space: pre-line;
        span {
          font-weight: 600;
        }
        @include to(1440px) {
          font-size: 48px;
        }
        @include to(576px) {
          font-size: 24px;
          white-space: nowrap;
        }
      }
      &__content {
        display: flex;
        @include to(576px) {
          grid-row: 1;
          grid-column: 1;
          padding: 40px 40px 0;
          flex-direction: column;
          align-items: flex-start;
          align-content: flex-start;
        }
      }
      &__desc {
        width: min-content;
        margin: 20px 0 20px 150px;
        display: flex;
        flex-direction: column;
        font-size: 24px;
        line-height: 1.4em;
        font-weight: 400;
        @include to(1440px) {
          margin: 10px 0 10px 100px;
          font-size: 16px;
        }
        @include to(992px) {
          margin: 10px 0 10px 80px;
          font-size: 20px;
        }
        @include to(576px) {
          width: 100%;
          margin: 20px 0 0 0;
          font-size: 13px;
        }
      }
      &__text {
        margin: 0 0 20px 0;
      }
      &__link {
        margin: auto 0 0 0;
      }
    }
    &-3 {
      position: relative;
      height: 100vh;
      width: 100%;
      .template-content__text:before {
        border-color: rgba(255, 255, 255, 0.3);
      }
      @include to(992px) {
        background: #1D222B;
      }
      .home-section__content {
        background: #1D222B;
        @include to(992px) {
          background: transparent;
        }
      }
      .sliceFigure {
        transform: scaleX(-1);
        fill: #1D222B;
      }
    }
    &-4 {
      position: relative;
      height: 100vh;
      width: 100%;
      padding: 0;
      @include to(992px) {
        background: $bg;
      }
      .home-section__content {
        @include to(992px) {
          background: transparent;
        }
      }
      .sliceFigure {
        fill: $bg;
      }

      &.home-section__grid {
        @include from(993px) {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
      }
      .home-bg__image {
        position: absolute;
        top: 0;
        right: 0;
        img {
          object-position: center;
        }
        @include to(992px) {
          position: static;
        }
      }
    }
    &-5 {
      position: relative;
      height: 100vh;
      width: 100%;
      .template-content__text:before {
        border-color: rgba(255, 255, 255, 0.3);
      }
      @include to(992px) {
        background: #CFA46E;
      }
      .home-section__content {
        background: #CFA46E;
        @include to(992px) {
          background: transparent;
        }
      }
      .sliceFigure {
        transform: scaleX(-1);
        fill: #CFA46E;
      }
    }
    &-6 {
      position: relative;
      height: 100vh;
      width: 100%;
      padding: 0;
      background: #FDFDFD;
      @include to(992px) {
        background: #FDFDFD;
      }
      .home-section__content {
        @include to(992px) {
          background: transparent;
        }
      }
      .sliceFigure {
        fill: #FDFDFD;
      }
      &.home-section__grid {
        @include from(993px) {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
      }
      .home-bg__image {
        position: absolute;
        top: 0;
        right: 0;
        img {
          object-position: center;
        }
        @include to(992px) {
          position: static;
        }
      }
    }
    &-7 {
      position: relative;
      height: 100vh;
      width: 100%;
      .template-content__text:before {
        border-color: rgba(255, 255, 255, 0.3);
      }
      @include to(992px) {
        background: $bg;
      }
      .home-section__content {
        background: $bg;
        @include to(992px) {
          background: transparent;
        }
      }
      .sliceFigure {
        transform: scaleX(-1);
        fill: $bg;
      }
    }
    &-8 {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      flex-wrap: wrap;
      height: 100%;
      min-height: 100vh;
      width: 100%;
      padding: 170px 13% 220px;
      background: #1C2029;
      .title {
        width: 100%;
        margin-bottom: 60px;
        font-size: 68px;
        line-height: 120%;
        font-weight: 600;
        text-transform: capitalize;
        @include to(1440px) {
          font-size: 48px;
          margin-bottom: 50px;
        }
        @include to(992px) {
          margin-bottom: 60px;
        }
        @include to(576px) {
          font-size: 24px;
          margin-bottom: 30px;
        }
      }
      @include to(1440px) {
        padding: 130px 160px 160px;
      }
      @include to(992px) {
        padding: 100px 140px 165px;
      }
      @include to(576px) {
        padding: 50px 40px 110px;
      }
    }
    &__grid {
      display: grid;
      grid-template-rows: 240px 1fr 240px;
      grid-template-columns: 13% 1fr 26% 1fr 13%;
      @include to(1440px) {
        grid-template-rows: 170px 1fr 170px;
      }
      @include to(992px) {
        height: initial;
        grid-template-columns: 140px 1fr 140px;
        grid-template-rows: auto var(--sliceFigure) 1fr;
      }
    }
    &__content {
      position: relative;
      grid-area: content;
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      z-index: 20;
      padding: 0 13vw;
      @include to(1440px) {
        padding: 0 11.7vw;
      }
      @include to(992px) {
        padding: 100px 18vw 140px;
      }
      @include to(576px) {
        padding: 80px 12.5vw;
      }
      @include to(360px) {
        padding: 40px 40px 80px;
      }
    }
    &-right {
      grid-template-areas: '. . content content content'
      '. . content content content'
      '. . content content content';
      @include to(992px) {
        grid-template-areas: 'content content content'
        'content content content'
        '. . .';
      }
      .home-section__content {
        justify-content: flex-end;
        grid-row: 1 / span 3;
        grid-column: 3 / span 3;
        clip-path: ellipse(200% 200% at 200% -20%);
        @include to(992px) {
          grid-row: 1 / span 2;
          grid-column: 1 / span 3;
          clip-path: none;
        }
      }
      .home-bg__image {
        grid-row: 1 / span 3;
        grid-column: 1 / span 3;
        @include to(992px) {
          grid-column: 1 / span 3;
          grid-row: 2 /span 2;
        }
      }
      .template-content {
        justify-content: flex-end;
        grid-row: 1 / span 3;
        grid-column: 3 / span 2;
        @include to(992px) {
          grid-column: 1 / span 3;
          grid-row: 2 /span 2;
        }
      }
    }
    &-left {
      grid-template-areas: 'content content content . .'
      'content content content . .'
      'content content content . .';
      @include to(992px) {
        grid-template-areas: 'content content content'
        'content content content'
        '. . .';
      }
      .home-section__content {
        grid-row: 1 / span 3;
        grid-column: 1 / span 3;
        //clip-path: none;
        clip-path: ellipse(200% 200% at -100% -20%);
        @include to(992px) {
          grid-row: 1 / span 2;
        }
      }
      .home-bg__image {
        grid-row: 1 / span 3;
        grid-column: 3 / span 3;
        @include to(992px) {
          grid-column: 1 / span 3;
          grid-row: 2 /span 2;
        }
      }
      .template-content {
        justify-content: flex-start;
        grid-row: 1 / span 3;
        grid-column: 2 / span 2;
        @include to(992px) {
          grid-column: 1 / span 3;
          grid-row: 1 /span 2;
        }
      }
    }
  }
  &-bg__image {
    display: inline-block;
    height: 100%;
    width: 100%;
    flex: 1 1 100%;
    z-index: 3;
    picture {
      height: 100%;
      width: 100%;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    &--right img {
      object-position: left;
    }
    &--left img {
      object-position: right;
    }
    //@include to(992px) {
    //  position: absolute;
    //  top: 0;
    //  left: 0;
    //}
  }
  &-slider {
    display: inline-block;
    height: 100vh;
    width: 100%;
    &__arrows {
      position: absolute;
      top: 50%;
      right: 80px;
      transform: translate(0, -50%);
      display: flex;
      flex-direction: column;
      z-index: 20;
      @include to(1440px) {
        right: 50px;
      }
      @include to(992px) {
        flex-direction: row;
        height: min-content;
        top: auto;
        right: 50%;
        bottom: 60px;
        transform: translate(50%, 0);
      }
      @include to(576px) {
        bottom: 20px;
      }
    }
    &__arrow {
      display: flex;
      width: 70px;
      height: 33px;
      padding: 10px 0;
      cursor: pointer;
      svg {
        height: 100%;
        width: 100%;
        fill: #E2E3E4;
      }
      @include to(1440px) {
        width: 50px;
        height: 29px;
        padding: 10px 0;
      }
      @include to(992px) {
        width: 50px;
        height: 29px;
        padding: 10px 0;
      }
      @include to(576px) {
        width: 32px;
        height: 26px;
        padding: 10px 0;
      }
    }
    &__prev {
      transform: rotate(180deg);
      @include to(992px) {
        margin-right: 30px;
      }
      @include to(576px) {
        margin-right: 10px;
      }
    }
    &__next {
      @include to(992px) {
        margin-left: 30px;
      }
      @include to(576px) {
        margin-left: 10px;
      }
    }
    &__amount {
      margin: 15px 0;
      font-weight: 500;
      font-size: 22px;
      line-height: 1em;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #DBDBDB;
      @include to(1440px) {
        margin: 10px 0;
        font-size: 16px;
      }
      @include to(576px) {
        font-size: 10px;
      }
      span:nth-child(2) {
        margin: 0 3px;
      }
    }
    &__current {
      color: $wc;
    }
  }
  &-scroll {
    position: absolute;
    bottom: 75px;
    left: 50%;
    transform: translateX(-50%);
    svg {
      height: 52px;
      width: 34px;
      fill: none;
      @include to(1440px) {
        height: 36px;
        width: 24px;
      }
    }
    @include to(1440px) {
      bottom: 50px;
    }
    @include to(992px) {
      display: none;
    }
  }
  .footer {
    background: #1C2029;
  }
}


.slide {
  position: relative;
  height: 100vh;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;

    @include to(992px) {
      max-width: none;
      padding: 0 55px;
    }
  }
  &__title {
    position: relative;
    font-weight: 400;
    font-size: 55px;
    line-height: 1.5em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;

    opacity: 0;
    transform: translateX(100px);
    transition-duration: 0.7s;
    @include to(1440px) {
      font-size: 40px;
    }
    @include to(992px) {
      font-size: 35px;
    }
    @include to(576px) {
      font-size: 15px;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: -45px;
      left: 50%;
      transform: translateX(-50%);
      width: 70px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      @include to(1440px) {
        width: 50px;
        bottom: -30px;
      }
      @include to(992px) {
        width: 70px;
        bottom: -50px;
      }
      @include to(576px) {
        width: 30px;
        bottom: -25px;
      }
    }
  }
  &__link {
    margin-top: 60px;
    opacity: 0;
    transform: translateX(100px);
    transition-duration: 0.7s;
    @include to(992px) {
      margin-top: 100px;
    }
    @include to(576px) {
      margin-top: 50px;
    }
  }
}

.swiper-slide-active {
  .slide__title {
    transition-delay: 0.2s;
    transform: translateX(0);
    opacity: 1;
  }
  .slide__link {
    transition-delay: 0.3s;
    transform: translateX(0);
    opacity: 1;
  }
}
