.page-rooms {
  .page__content {
    padding: 185px 0 0 0;
    @include to(1440px) {
      padding: 135px 0 0 0;
    }
    @include to(992px) {
      padding: 140px 0 0 0;
    }
    @include to(576px) {
      padding: 90px 0 0 0;
    }
  }
  &__top {
    position: relative;
    margin: 0 vw(250, 1920);
    .found {
      position: absolute;
      top: 0;
      left: 0;
      height: 36px; //line-height .title
    }
  }
  .title {
    margin: 100px 0 0;
    color: $mc;
    text-align: center;
    &:after {
      border-bottom-color: #E2E3E4;
    }
  }
}

.rooms {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
  grid-auto-rows: 1fr;
  gap: 40px;
  padding: 0 vw(250, 1920) 120px;
  margin-top: 50px;
}

.card {
  padding: 25px 33px 20px;
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  &__img {
    max-height: 150px;
    margin: 30px auto 0;
    object-fit: contain;
  }
  &__title {
    margin-top: 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: $dark;
  }
  &__table {
    margin-top: 15px;
    width: 100%;
  }
  &__name {

  }
  &__value {

  }
  &__link {
    display: flex;
    margin-top: 15px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #1A2941;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    &-svg {
      overflow: hidden;
      margin: 0 0 0 20px;
    }
    svg {
      width: 50px;
      height: 9px;
      fill: $dark;
      transition: transform 0.3s ease-in-out;
    }
    @include from(1023px) {
      &:hover {
        color: $gold;
        svg {
          fill: $gold;
          transform: translateX(-30px);
        }
      }
    }
  }
}

.found {
  display: flex;
  align-content: center;
  align-items: center;

  font-weight: 500;
  font-size: max(16px, vw(16, 1920));
  line-height: 100%;
  color: #C4C7CC;
  &__name {

  }
  span {
    margin-left: 1ch;
  }
}
