.page-single-news {
  .page__content {
    padding: 185px 0 0 0;
    @include to(1440px) {
      padding: 135px 0 0 0;
    }
    @include to(992px) {
      padding: 140px 0 0 0;
    }
    @include to(576px) {
      padding: 90px 0 0 0;
    }
  }
  .breadcrumbs {
    margin-bottom: 70px;
    @include to(1440px) {
      margin-bottom: 40px;
    }
    @include to(992px) {
      margin-bottom: 35px;
    }
    @include to(576px) {
      margin-bottom: 20px;
    }
  }
  .title {
    margin: 0;
  }
}

.single-news {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  padding: 0 vw(80, 1920);
  @include to(1440px) {
    padding: 0 vw(50, 1440);
  }
  @include to(992px) {
    flex-direction: column;
    padding: 0;
  }
  &__image {
    display: flex;
    flex-shrink: 0;
    max-width: 60%;
    @include to(992px) {
      max-width: none;
      margin: 0 vw(40, 768);
    }
    @include to(576px) {
      margin: 0 vw(20, 320);
    }
  }
  &__img {
    position: relative;
  }
  &__content {
    height: 100%;
    margin-left: vw(90, 1920);
    padding: 0;
    @include to(1440px) {
      margin-left: vw(60, 1360);
    }
    @include to(992px) {
      margin: 120px vw(90, 768) 0;
    }
    @include to(576px) {
      margin: 50px vw(40, 320) 0;
    }
  }
  &__text {
    height: calc(100% - 30px);
    padding: 0 vw(90, 1920) 0 0;
    margin-top: 30px;
    overflow: auto;
    &::-webkit-scrollbar-thumb {
      background: $gold;
      box-shadow: none;
    }
    @include to(1440px){
      height: calc(100% - 20px);
      padding: 0 vw(60, 1360) 0 0;
      margin-top: 20px;
    }
    @include to(992px) {
      overflow: visible;
      height: initial;
      padding: 0;
      margin-top: 40px;
    }
    @include to(576px) {
      margin-top: 15px;
    }
  }
  &__date {
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 18px;
    font-family: $default-font;
    font-weight: 500;
    line-height: 100%;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #C4C7CC;
    @include to(1440px) {
      font-size: 14px;
    }
    @include to(576px) {
      font-size: 10px;
    }
    &:before {
      content: "";
      display: inline-block;
      width: 70px;
      margin-right: 40px;
      border-bottom: 1px solid #C4C7CC;
      @include to(1440px) {
        width: 50px;
        margin-right: 20px;
      }
      @include to(576px) {
        width: 30px;
        margin-right: 15px;
      }
    }
  }
  &__decorate {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    height: 312px;
    width: 341px;
    z-index: 10;
    transform: translate(-50%, 35%);
    fill: none;
    @include to(1440px) {
      height: 207px;
      width: 226px;
    }
    @include to(992px) {
      height: 187px;
      width: 204px;
    }
    @include to(576px) {
      height: 86px;
      width: 94px;
    }
  }
  &__desc {
    margin-top: 30px;
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
    color: $dark;
    p {
      margin-top: 30px;
    }
    @include to(1440px) {
      margin-top: 20px;
      font-size: 16px;
      p {
        margin-top: 20px;
      }
    }
    @include to(992px) {
      margin-top: 40px;
      font-size: 20px;
      p {
        margin-top: 40px;
      }
    }
    @include to(576px) {
      margin-top: 15px;
      font-size: 13px;
      p {
        margin-top: 15px;
      }
    }
  }
  &__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: $dark;
    @include to(1440px) {
      font-size: 30px;
    }
    @include to(992px) {
      font-size: 35px;
    }
    @include to(576px) {
      font-size: 16px;
    }
  }
}
.back {
  display: flex;
  flex-direction: column;
  margin: 0 vw(100, 1920) 0 0;
  height: min-content;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $gold;
  text-decoration: none;
  transition: color 0.3s ease-in;
  span {
    margin-top: 20px;
  }
  svg {
    width: 70px;
    height: 13px;
    fill: $gold;
    transform: rotate(180deg);
    transition: fill 0.3s ease-in;
  }
  @include from(1023px) {
    &:hover {
      color: $dark;
      svg {
        fill: $dark;
      }
    }
  }
  @include to(1440px) {
    margin-right: vw(60, 1360);
    font-size: 14px;
    span {
      margin-top: 10px;
    }
    svg {
      width: 50px;
      height: 9px;
    }
  }
  @include to(992px) {
    font-size: 18px;
    margin-right: vw(35, 768);
    span {
      margin-top: 15px;
    }
  }
  @include to(576px) {
    font-size: 9px;
    margin-right: vw(13, 320);
    span {
      margin-top: 15px;
    }
    svg {
      width: 34px;
      height: 6px;
    }
  }
}

.different-news {
  margin: 190px 0 125px;
  .title {
    color: $mc;
    text-align: center;
    &:after {
      border-bottom-color: #E2E3E4;
    }
  }
  @include to(1440px) {
    margin: 120px 0 80px;
  }
  @include to(992px) {
    margin: 80px 0;
    .news__card:nth-child(1n+3) {
      display: none;
    }
  }
  @include to(576px) {
    margin: 40px 0 50px;
    .news__card:nth-child(1n+3) {
      display: inline-block;
    }
  }
}
