.page-technologies {
  .breadcrumbs {
    position: absolute;
    top: calc(var(--header-h) + 65px);
    right: 0;
    color: #E2E3E4;
    @include to(1440px) {
      top: calc(var(--header-h) + 45px);
    }
    @include to(992px) {
      top: calc(var(--header-h) + 30px);
    }
    @include to(576px) {
      top: calc(var(--header-h) + 20px);
    }
  }
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .sliceFigure svg {
    fill: #FCFCFC;
  }
}

.technologies {
  .sliceFigure-big {
    svg {
      fill: #FFFFFF;
    }
  }
  &__section {
    &-2 {
      background: #1D222B;
      color: #E2E3E4;
    }
    &-3 {
      background: #FCFCFC;
      color: $dark;
    }
    &-4 {
      background: #1D222B;
      color: #E2E3E4;
    }
    &-5 {
      background: #FCFCFC;
      .section-sliceFigure__template {
        width: 70%;
        @include to(992px) {
          width: 100%;
          margin-top: 80px;
        }
      }
    }
  }
  &__link_offset {
    margin-top: 40px;
    @include to(1440px) {
      margin-top: 30px;
    }
    @include to(992px) {
      margin-top: 40px;
    }
    @include to(576px) {
      margin-top: 20px;
    }
  }
}

.solutions {
  padding: 230px vw(170, 1920) 70px;
  @include to(1440px) {
    padding: 160px vw(110, 1360) 100px;
  }
  @include to(992px) {
    padding: 80px vw(90, 768) 50px;
  }
  &__title {
    font-weight: 500;
    font-size: min(vw(24, 1920), 24px);
    line-height: 140%;
    color: #FCFCFC;
    @include to(1440px) {
      font-size: 20px;
    }
    @include to(992px) {
      font-size: min(vw(24, 768), 24px);
    }
  }
  &__list {
    margin: 60px 0 0 0;
    column-count: 3;
    column-gap: 60px;
    @include to(1440px) {
      margin: 50px 0 0 0;
      column-gap: 50px;
    }
    @include to(992px) {
      column-count: 1;
      margin: 50px 0 0 0;
      column-gap: 50px;
    }
  }
  &__elem {
    display: flex;
    align-content: center;
    align-items: center;
    break-inside: avoid;
    margin: 0 0 60px 0;
    @include to(1440px) {
      margin: 0 0 50px 0;
    }
  }
  &__icon {
    height: 60px;
    width: 60px;
    flex-shrink: 0;
    align-self: flex-start;
    @include to(1440px) {
      height: 40px;
      width: 40px;
    }
    @include to(992px) {
      height: min(vw(65, 768), 65px);
      width: min(vw(65, 768), 65px);
    }
  }
  &__desc {
    font-weight: 400;
    font-size: max(vw(20, 1920), 20px);
    line-height: 140%;
    color: #E2E3E4;
    @include to(1440px) {
      font-size: 16px;
    }
    @include to(992px) {
      font-size: min(vw(20, 768), 20px);
    }
    &_offset {
      margin-left: 50px;
      @include to(1440px) {
        margin-left: 30px;
      }
      @include to(992px) {
        margin-left: 40px;
      }
    }
  }
}

.characteristic {
  &__group {
    margin-top: 90px;
    @include to(1440px) {
      margin-top: 50px;
    }
    &:first-child {
      margin-top: 0;
    }
  }
  &__title {
    font-weight: 500;
    font-size: min(vw(24, 1920), 24px);
    line-height: 140%;
    color: #1A2941;
    @include to(1440px) {
      font-size: 20px;
    }
    @include to(992px) {
      font-size: 24px;
    }
  }
  &__elem {
    display: flex;
    align-items: center;
    align-content: center;
    &_column {
      flex-direction: column;
      align-content: flex-start;
      align-items: flex-start;
    }
  }
  &__coll {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: auto;
    grid-gap: 50px vw(50, 1920);
    margin-top: 50px;
    @include to(1440px) {
      margin-top: 30px;
      grid-gap: 30px vw(30, 1360);
    }
  }
  &__value {
    font-weight: 400;
    font-size: min(vw(58, 1920), 58px);
    line-height: 110%;
    letter-spacing: 0.03em;
    color: $gold;
    @include to(1440px) {
      font-size: 48px;
    }
    @include to(992px) {
      font-size: min(vw(55, 768), 55px);
    }
    &_offset {
      margin-right: 30px;
      @include to(1440px) {
        margin-right: 20px;
      }
      @include to(992px) {
        margin-right: 30px;
      }
    }
  }
  &__name {
    font-weight: 500;
    font-size: min(vw(20, 1920), 20px);
    line-height: 140%;
    color: #1A2941;
    @include to(1440px) {
      font-size: 16px;
    }
    @include to(992px) {
      font-size: min(vw(20, 768), 20px);
    }
    &_yellow {
      color: #CFA46E;
    }
  }
}
