.page-terrace {
  .breadcrumbs {
    position: absolute;
    top: calc(var(--header-h) + 65px);
    right: 0;
    color: #E2E3E4;
    @include to(1440px) {
      top: calc(var(--header-h) + 45px);
    }
    @include to(992px) {
      top: calc(var(--header-h) + 30px);
    }
    @include to(576px) {
      top: calc(var(--header-h) + 20px);
    }
  }
  .footer {
    background: #1D222B;
  }
  .sliceFigure svg {
    fill: #FCFCFC;
  }
  .template-simple {
    &__title {
      color: #FCFCFC;
    }
    &__item {
      color: #EFF2F6;
    }
  }
}

.terrace {
  .sliceFigure-big {
    svg {
      fill: #FCFCFC;
    }
  }
  &__section {
    &-2 {
      background: #1D222B;
      color: #E2E3E4;
    }
  }
}
