.success-wrap(data-success)
  .success
    .success__close(data-success-close)
      span
      span
    .success__title Повідомлення надіслано
    .success__description Дякуємо за звернення! Очікуйте на дзвінок з відділу продажів BEREG Residence. Бажаємо приємного дня та гарного настрою =)
    a(href="/" class="link success__link" type="submit")
      span На головну
      .link__arrow.success__arrow
        +svg('arrow')
