
extends ../layout/main
block variable
  -
    var title_page = 'flat'
    var id_page = 'page-flat'
    var class_page = 'page-flat'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]

block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/flat.js')
block content
  .flat
    include ../includes/breadcrumbs.pug
    a(href="javascript:history.back()").back(data-back)
      +svg('arrow').back__arrow
      span.back__name назад
    .flat__compass
      .flat__compass-text пн
      svg( width="50" height="47" viewBox="0 0 50 47" fill="none" xmlns="http://www.w3.org/2000/svg")
        mask( id="path-1-inside-1" fill="white")
          path(d="M32.023 1.00544C37.1053 2.5768 41.4562 5.89507 44.2938 10.364C47.1315 14.8329 48.2698 20.1594 47.5044 25.3864C46.7389 30.6134 44.1198 35.3982 40.1177 38.881C36.1156 42.3637 30.9929 44.3162 25.67 44.3874C20.3472 44.4586 15.1733 42.644 11.078 39.2695C6.98267 35.8951 4.23447 31.1821 3.32724 25.9775C2.42001 20.7729 3.41321 15.4178 6.12838 10.8746C8.84354 6.33143 13.1027 2.89796 18.1404 1.19119L18.5659 2.42771C13.8248 4.034 9.81639 7.26534 7.26107 11.5411C4.70575 15.8168 3.77102 20.8566 4.62484 25.7548C5.47866 30.653 8.06506 35.0885 11.9193 38.2643C15.7735 41.4401 20.6428 43.1479 25.6523 43.0809C30.6617 43.0139 35.4829 41.1764 39.2494 37.8986C43.0159 34.6209 45.4808 30.1178 46.2012 25.1985C46.9216 20.2792 45.8502 15.2663 43.1797 11.0605C40.5091 6.85467 36.4143 3.73175 31.6313 2.25289L32.023 1.00544Z")
        path(d="M32.023 1.00544C37.1053 2.5768 41.4562 5.89507 44.2938 10.364C47.1315 14.8329 48.2698 20.1594 47.5044 25.3864C46.7389 30.6134 44.1198 35.3982 40.1177 38.881C36.1156 42.3637 30.9929 44.3162 25.67 44.3874C20.3472 44.4586 15.1733 42.644 11.078 39.2695C6.98267 35.8951 4.23447 31.1821 3.32724 25.9775C2.42001 20.7729 3.41321 15.4178 6.12838 10.8746C8.84354 6.33143 13.1027 2.89796 18.1404 1.19119L18.5659 2.42771C13.8248 4.034 9.81639 7.26534 7.26107 11.5411C4.70575 15.8168 3.77102 20.8566 4.62484 25.7548C5.47866 30.653 8.06506 35.0885 11.9193 38.2643C15.7735 41.4401 20.6428 43.1479 25.6523 43.0809C30.6617 43.0139 35.4829 41.1764 39.2494 37.8986C43.0159 34.6209 45.4808 30.1178 46.2012 25.1985C46.9216 20.2792 45.8502 15.2663 43.1797 11.0605C40.5091 6.85467 36.4143 3.73175 31.6313 2.25289L32.023 1.00544Z" stroke="#C4C7CC" stroke-width="2.63158" mask="url(#path-1-inside-1)")
        path(d="M25.6574 0L19.7363 7.83333H31.5784L25.6574 0Z" fill="#1A2941")
        line(x1="5.79659e-08" y1="21.5362" x2="6.57895" y2="21.5362" stroke="#C4C7CC" stroke-width="1.31579")
        line(x1="43.4219" y1="21.5362" x2="50.0008" y2="21.5362" stroke="#C4C7CC" stroke-width="1.31579")
        line(x1="24.3421" y1="46.9998" x2="24.3421" y2="40.472" stroke="#C4C7CC" stroke-width="1.31579")
    .flat__info
      .info
        .info__group
          .info__title Квартира Р6-3
        .info__group
          ul.info__list.info__list_font-medium
            li.info__list-row
              .info__name Загальна площа:
              .info__value 48,43 м²
            li.info__list-row
              .info__name Житлова площа:
              .info__value 29,24 м²
        .info__group
          ul.info__list.info__list_ol
            li.info__list-row
              .info__name
                span.info__number 1.
                span Передпокій:
              .info__value 6,36 м²
            li.info__list-row
                .info__name
                  span.info__number 2.
                  span С/В:
                .info__value 3,97 м²
            li.info__list-row
              .info__name
                span.info__number 3.
                span Кухня-їдальня:
              .info__value 13,74 м²
            li.info__list-row
              .info__name
                span.info__number 4.
                span Спальня
              .info__value 19,24 м²
            li.info__list-row
              .info__name
                span.info__number 5.
                span Балкон:
              .info__value 1,72 м²
      a(href='#').pdf
        span.pdf__name завантажити pdf
        .pdf__arrow
          +svg('pdf-arrow')
    .flat__plane
      +img('flat/flat2.jpg' ).flat__img(data-flat-image data-mfp-src="./assets/images/flat/flat2.jpg" data-src={"2d":"./assets/images/flat/flat2.jpg", "3d":"./assets/images/flat/flat.png"})
      .plan.plan-active
        span(data-plane data-type="2d").active План-схема
        input.plan-switch-input.js-switch-btn(type="checkbox" id="plan3d")
        label.plan-switch(for="plan3d")
        span(data-plane data-type="3d") 3D планування
      .flat__order
        a(href='#').order.link
          span.order__title Забронювати  квартиру
          .order__arrow.link__arrow
            +svg('arrow')
    .flat__floor
      .floor
        svg(viewBox="0 0 1615 1999" class="flat__svg" data-svg-container)
          image(href="assets/images/flat/image.png" x="0" y="0" height="100%" width="100%")
          a(href="/flat/?flat=330" class="appart__hover" data-section="3" data-area="64.65" data-life="64.65" data-rooms="2" data-type="2c211" data-id="330")
            polygon( fill="" class="" points="517.99716186523,501.54541015625,518.99716186523,665.54541015625,774.99716186523,669.54541015625,777.99716186523,446.54541015625,677.99716186523,447.54541015625,675.99716186523,498.54541015625" data-id="330" data-section="3" data-area="64.65" data-life="64.65" data-rooms="2" data-type="2c211")
          a(href="/flat/?flat=331" class="appart__hover" data-section="3" data-area="51.16" data-life="51.16" data-rooms="1" data-type="1c210" data-id="331")
            polygon( fill="" class="" points="776.99716186523,448.45452880859,774.99716186523,671.45452880859,948.99716186523,667.45452880859,946.99716186523,445.45452880859" data-id="331" data-section="3" data-area="51.16" data-life="51.16" data-rooms="1" data-type="1c210")
          a(href="/flat/?flat=332" class="appart__hover" data-section="3" data-area="66.5" data-life="66.5" data-rooms="2" data-type="2c26" data-id="332")
            polygon( fill="" class="" points="513.99716186523,192.7272644043,511.99716186523,403.7272644043,417.99716186523,404.7272644043,417.99716186523,362.7272644043,256.99716186523,362.7272644043,253.99716186523,191.7272644043" data-id="332" data-section="3" data-area="66.5" data-life="66.5" data-rooms="2" data-type="2c26")
          a(href="/flat/?flat=333" class="appart__hover" data-section="3" data-area="71.65" data-life="71.65" data-rooms="2" data-type="2c25" data-id="333")
            polygon( fill="" class="" points="770.99716186523,192.7272644043,769.99716186523,404.7272644043,511.99716186523,401.7272644043,513.99716186523,191.7272644043" data-id="333" data-section="3" data-area="71.65" data-life="71.65" data-rooms="2" data-type="2c25")
          a(href="/flat/?flat=334" class="appart__hover" data-section="3" data-area="52.26" data-life="52.26" data-rooms="1" data-type="1c24" data-id="334")
            polygon( fill="" class="" points="944.99716186523,129.7272644043,946.99716186523,334.7272644043,904.99716186523,332.7272644043,906.99716186523,404.7272644043,771.99716186523,401.7272644043,771.99716186523,190.7272644043,850.99716186523,189.7272644043,851.99716186523,131.7272644043" data-id="334" data-section="3" data-area="52.26" data-life="52.26" data-rooms="1" data-type="1c24")
          a(href="/flat/?flat=425" class="appart__hover" data-section="4" data-area="52.97" data-life="52.97" data-rooms="1" data-type="1c29" data-id="425")
            polygon( fill="" class="" points="946.99716186523,377.45452880859,947.99716186523,645.45452880859,1016.9971618652,643.45452880859,1017.9971618652,591.45452880859,1127.9971618652,590.45452880859,1125.9971618652,374.45452880859" data-id="425" data-section="4" data-area="52.97" data-life="52.97" data-rooms="1" data-type="1c29")
          a(href="/flat/?flat=426" class="appart__hover" data-section="4" data-area="44.13" data-life="44.13" data-rooms="1" data-type="1c28" data-id="426")
            polygon( fill="" class="" points="1125.9971618652,376.27270507812,1127.9971618652,592.27270507812,1205.9971618652,590.27270507812,1205.9971618652,616.27270507812,1280.9971618652,615.27270507812,1280.9971618652,575.27270507812,1298.9971618652,576.27270507812,1296.9971618652,448.27270507812,1236.9971618652,446.27270507812,1236.9971618652,375.27270507812" data-id="426" data-section="4" data-area="44.13" data-life="44.13" data-rooms="1" data-type="1c28")
          a(href="/flat/?flat=427" class="appart__hover" data-section="4" data-area="79.26" data-life="79.26" data-rooms="2" data-type="3c27" data-id="427")
            polygon( fill="" class="" points="1297.9971618652,449.36364746094,1298.9971618652,577.36364746094,1606.9971618652,578.36364746094,1604.9971618652,334.36364746094,1507.9971618652,331.36364746094,1503.9971618652,387.36364746094,1419.9971618652,388.36364746094,1419.9971618652,452.36364746094" data-id="427" data-section="4" data-area="79.26" data-life="79.26" data-rooms="2" data-type="3c27")
          a(href="/flat/?flat=428" class="appart__hover" data-section="4" data-area="51.44" data-life="51.44" data-rooms="1" data-type="1c23" data-id="428")
            polygon( fill="" class="" points="1123.9971618652,118.7272644043,1124.9971618652,333.7272644043,946.99716186523,333.7272644043,946.99716186523,128.7272644043,996.99716186523,129.7272644043,996.99716186523,81.727264404297,1070.9971618652,81.727264404297,1071.9971618652,117.7272644043" data-id="428" data-section="4" data-area="51.44" data-life="51.44" data-rooms="1" data-type="1c23")
          a(href="/flat/?flat=429" class="appart__hover" data-section="4" data-area="50.15" data-life="50.15" data-rooms="1" data-type="1c22" data-id="429")
            polygon( fill="" class="" points="1310.9971618652,116.7272644043,1313.9971618652,275.7272644043,1230.9971618652,279.7272644043,1230.9971618652,331.7272644043,1124.9971618652,331.7272644043,1124.9971618652,115.7272644043,1172.9971618652,116.7272644043,1173.9971618652,79.727264404297,1247.9971618652,80.727264404297,1247.9971618652,118.7272644043" data-id="429" data-section="4" data-area="50.15" data-life="50.15" data-rooms="1" data-type="1c22")
          a(href="/flat/?flat=430" class="appart__hover" data-section="4" data-area="78.13" data-life="78.13" data-rooms="2" data-type="3c21" data-id="430")
            polygon( fill="" class="" points="1310.9971618652,118.54544067383,1313.9971618652,275.54544067383,1427.9971618652,279.54544067383,1427.9971618652,320.54544067383,1505.9971618652,321.54544067383,1506.9971618652,331.54544067383,1603.9971618652,332.54544067383,1606.9971618652,116.54544067383,1586.9971618652,119.54544067383,1584.9971618652,80.545440673828,1495.9971618652,80.545440673828,1495.9971618652,114.54544067383" data-id="430" data-section="4" data-area="78.13" data-life="78.13" data-rooms="2" data-type="3c21")
          a(href="/flat/?flat=196" class="appart__hover" data-section="1" data-area="95.47" data-life="95.47" data-rooms="2" data-type="2c118" data-id="196")
            polygon( fill="#85C44" class=" u-svg-plan--active" points="1063.9971618652,1454.1817626953,1269.9971618652,1456.1817626953,1269.9971618652,1931.1817626953,1183.9971618652,1930.1817626953,1183.9971618652,1724.1817626953,1140.9971618652,1722.1817626953,1139.9971618652,1663.1817626953,1054.9971618652,1665.1817626953" data-id="196" data-section="1" data-area="95.47" data-life="95.47" data-rooms="2" data-type="2c118")
          a(href="/flat/?flat=197" class="appart__hover" data-section="1" data-area="53.94" data-life="53.94" data-rooms="1" data-type="1c119/2" data-id="197")
            polygon( fill="" class="" points="1004.9971618652,1712.3636474609,1138.9971618652,1711.3636474609,1139.9971618652,1723.3636474609,1183.9971618652,1725.3636474609,1183.9971618652,1931.3636474609,1003.9971618652,1926.3636474609" data-id="197" data-section="1" data-area="53.94" data-life="53.94" data-rooms="1" data-type="1c119/2")
          a(href="/flat/?flat=198" class="appart__hover" data-section="1" data-area="54.17" data-life="54.17" data-rooms="1" data-type="1c120" data-id="198")
            polygon( fill="" class="" points="1005.9971618652,1712.3636474609,1003.9971618652,1929.3636474609,825.99716186523,1927.3636474609,826.99716186523,1711.3636474609" data-id="198" data-section="1" data-area="54.17" data-life="54.17" data-rooms="1" data-type="1c120")

      .flat__data
        .data
          .data__title План поверху 7
          .data__flat
            div
              span(data-type="type" data-default-value='2c118') 2c118
            div пов:
              span(data-type="floor" data-default-value='12') 12
            div кім:
              span(data-type="flat" data-default-value='2') 2
            div кім:
              span(data-type="area" data-default-value='95.47') 95.47
              span м
                sub 2

block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
