
extends ../layout/main
block variable
  -
    var title_page = 'Квартира 2А'
    var id_page = 'flat-page'
    var class_page = 'flat-page'
    var breadcrumbsBtn = 'filter'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
    var slider = [{
      img: 'slider/1.jpg',
      title: 'Власна резиденція у місті',
      url: 'about',
      linkText: 'Обрати квартиру',
    },{
      img: 'slider/1.jpg',
      title: 'Власна резиденція у місті2',
      url: 'about',
      linkText: 'Обрати квартиру',
    },{
      img: 'slider/1.jpg',
      title: 'Власна резиденція у місті3',
      url: 'about',
      linkText: 'Обрати квартиру',
    }]

block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/home.js')
block content
  //- include ../includes/breadcrumbs.pug
  section.home-section-0
    .home-slider.js-slider
        each sl in slider
            .slide.link__white
                +img(sl.img)
                .slide__content
                    .slide__title= sl.title
                    a(href= sl.url).slide__link.link
                        span= sl.linkText
                        .link__arrow
                            +svg('arrow')
    .home-slider__arrows
        .home-slider__arrow.home-slider__prev
            +svg('arrow')
        .home-slider__amount
            span.home-slider__current.js-home-slider__current
            span /
            span.home-slider__all.js-home-slider__all
        .home-slider__arrow.home-slider__next
            +svg('arrow')
  section.home-section-1
    .section-bg.section-bg__top
        +img('bg-logo-white-top.png')
    .template-content.template-dark
        .template-content__title
            span Про
            | Bereg
            | Residence
        .template-content__text Дізнайтеся більше про новий житловий комплекс на березі Дніпра.
        a(href='about').template-content__link.link
            span Перейти до розділу
            .link__arrow
                +svg('arrow')
    .section-bg.section-bg__bottom
      +img('bg-logo-white-bottom.png')
    .home-bg-image
      +img('home/1.png')


block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
