
extends ../layout/main
block variable
  -
    var title_page = 'home'
    var id_page = 'page-home'
    var class_page = 'page-home'
    var breadcrumbsBtn = 'filter'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
    var slider = [{
      img: 'slider/1.jpg',
      title: 'Власна резиденція у місті',
      url: 'about.html',
      linkText: 'Обрати квартиру',
    },{
      img: 'slider/1.jpg',
      title: 'Власна резиденція у місті2',
      url: 'about.html',
      linkText: 'Обрати квартиру',
    },{
      img: 'slider/1.jpg',
      title: 'Власна резиденція у місті3',
      url: 'about.html',
      linkText: 'Обрати квартиру',
    }]

block meta
  title= 'Главная'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/home.js')
  script(defer src='./assets/scripts/scrollify.js')
  script(defer src='./assets/scripts/animation.js')
block content
  //- include ../includes/breadcrumbs.pug
  section.home-section-0
    .home-slider.js-slider
      .gallery-slider
        .gallery-slider__fixed-proportions-container
          .gallery-slider__wrap.swiper-container
            .swiper-wrapper
              each sl in slider
                  .swiper-slide.slide.link__white
                      +img(sl.img)
                      .slide__content(data-swiper-parallax="300" data-swiper-parallax-delay="600")
                          .slide__title= sl.title
                          a(href=sl.url data-swiper-parallax="500").slide__link.link
                              span= sl.linkText
                              .link__arrow
                                  +svg('arrow')
    .home-slider__arrows
        .home-slider__arrow.home-slider__prev(data-prev)
            +svg('arrow')
        .home-slider__amount
            span.home-slider__current.js-home-slider__current(data-current)
            span /
            span.home-slider__all.js-home-slider__all(data-total)
        .home-slider__arrow.home-slider__next(data-next)
            +svg('arrow')

    .home-scroll
        +svg('scroll')
  section.home-section-1.home-section__grid.home-section-left
    .sliceFigure
      +svg('sliceFigure')
    .home-section__content
      .section-bg.section-bg__white-top
      .template-content.template-content--dark
        .template-content__title
            span Про
            | BEREG <br>
            | Residence
        .template-content__text Дізнайтеся більше про новий житловий комплекс на березі Дніпра.
        a(href='concept.html').template-content__link.link
            span Перейти до розділу
            .link__arrow
                +svg('arrow')
      .section-bg.section-bg__white-bottom
    .home-bg__image.home-bg__image--right
      picture
        source(media="(min-width: 993px)" srcset="assets/images/home/1.jpg")
        source(media="(max-width: 992px)" srcset="assets/images/home/1-table.jpg")
        img(src="assets/images/home/1.jpg")
  section.home-section-2
    picture.home-section-2__img
      source(media="(min-width: 993px)" srcset="assets/images/home/2.jpg")
      source(media="(max-width: 992px)" srcset="assets/images/home/2-table.jpg")
      img(src="assets/images/home/2.jpg")
    .home-section-2__content.all__white
      .home-section-2__title
          span Квартири <br>
          | Bereg <wbr>
          | Residence
      .home-section-2__desc
          .home-section-2__text Кажуть, що мрію потрібно візуалізувати. Переходьте до розділу і оберіть свою.
          a(href='flats').home-section-2__link.link
              span Перейти до розділу
              .link__arrow
                  +svg('arrow')
  section.home-section-3.home-section__grid.home-section-right
    .home-bg__image.home-bg__image--left(data-home-paralax)
      picture
        source(media="(min-width: 993px)" srcset="assets/images/home/3.jpg")
        source(media="(max-width: 992px)" srcset="assets/images/home/3-table.jpg")
        img(src="assets/images/home/3.jpg")
    .home-section__content
      .section-bg.section-bg__dark-top
      .template-content.template-content--white
          .template-content__title Тераса
          .template-content__text Зустріч світанку з кавою набуває нового сенсу, коли зустрічаєш його на власній терасі, площею 800 квадратних метрів!
          a(href='about').template-content__link.link
              span Перейти до розділу
              .link__arrow
                  +svg('arrow')
      .section-bg.section-bg__dark-bottom
    .sliceFigure
      +svg('sliceFigure')
  section.home-section-4.home-section__grid.home-section-left
    .sliceFigure
      +svg('sliceFigure')
    .home-section__content
      .template-content.template-content--dark
          .template-content__title Архітектура <br>та технології
          .template-content__text Бути першими – складно, але ми впоралися. Сучасна архітектура будинку, якої ще не будували в Україні, в BEREG Residence!
          a(href='about').template-content__link.link
              span Перейти до розділу
              .link__arrow
                  +svg('arrow')
    .home-bg__image.home-bg__image--left
      picture
        source(media="(min-width: 993px)" srcset="assets/images/home/4.jpg")
        source(media="(max-width: 992px)" srcset="assets/images/home/4-table.jpg")
        img(src="assets/images/home/4.jpg")
  section.home-section-5.home-section__grid.home-section-right
    .home-bg__image.home-bg__image--left
      picture
        source(media="(min-width: 993px)" srcset="assets/images/home/5.jpg")
        source(media="(max-width: 992px)" srcset="assets/images/home/5-table.jpg")
        img(src="assets/images/home/5.jpg")
    .sliceFigure
      +svg('sliceFigure')(preserveAspectRatio="none")
    .home-section__content
      .section-bg.section-bg__gold-top
      .template-content.template-content--white
          .template-content__title Документи <br>комплексу
          .template-content__text Ознайомтеся з пакетом документів, що гарантують безпеку вашої інвестиції.
          a(href='about').template-content__link.link
              span Перейти до розділу
              .link__arrow
                  +svg('arrow')
      .section-bg.section-bg__gold-bottom
  section.home-section-6.home-section__grid.home-section-left
    .sliceFigure
      +svg('sliceFigure')
    .home-section__content
      .template-content.template-content--dark
        .template-content__title Девелопер <br>проєкту
        .template-content__text Дізнайтеся більше про нас і наші реалізовані проекти.
        a(href='about').template-content__link.link
          span Перейти до розділу
          .link__arrow
            +svg('arrow')
    .home-bg__image.home-bg__image--left
      picture
        source(media="(min-width: 993px)" srcset="assets/images/home/6.jpg")
        source(media="(max-width: 992px)" srcset="assets/images/home/6-table.jpg")
        img(src="assets/images/home/6.jpg")
  section.home-section-7.home-section__grid.home-section-right
    .home-bg__image.home-bg__image--left
      picture
        source(media="(min-width: 993px)" srcset="assets/images/home/7.jpg")
        source(media="(max-width: 992px)" srcset="assets/images/home/7-table.jpg")
        img(src="assets/images/home/7.jpg")
    .sliceFigure
      +svg('sliceFigure')
    .home-section__content
      .section-bg.section-bg__white-top
      .template-content.template-content--dark
        .template-content__title
          span Новини <br>
            | BEREG
            | Residence
        a(href='about').template-content__link.link
          span Перейти до розділу
          .link__arrow
            +svg('arrow')
      .section-bg.section-bg__white-bottom
  section.home-section-8
    .title Контакти
    .contact
      .contact__location
        .contact__title Розташування:
        .contact__desc м. Київ, Оболонський район,<br> пр-т Степана Бандрери, 30
        a(href="").contact__link
          span Показати на Google Maps
          .contact__link__arrow
            +svg('arrow')
      .contact__sales
        .contact__title Відділ продажів:
        .contact__phone 044 555-55-55
        .contact__mail info@beregresidence.com
        .contact__work-time
          span Пн-пт: 09:00-19:00
          span Сб-вс: 10:00-18:00

    .form
      h5.form-label.home-contact--width Залишились питання?
      form(data-form-home-contact autocomplete="off").home-contact--width
        .form-field.form-field-input(data-field-input data-field-name data-status="field--inactive")
          input(type='text' name="name" placeholder="Ім’я:").form-field__input
          .form-field-message Ваше ім’я
          .input-message(data-input-message)

        .form-field.disabled.form-field-input(data-field-input data-field-phone data-status="field--inactive")
          input(type='text' name="phone" placeholder="Телефон:").form-field__input
          .form-field-message Ваш телефон
          .mask-absolute.js-mask-absolute
          .input-message(data-input-message)

        .form-textarea
          textarea(placeholder="Повідомлення:")
          .form-field-message Введіть ваше повідомлення

        .form-btn-wrap.df.jcsb.aic
          button( class="main-button home-contact-btn--size" type="submit" data-btn-submit="data-btn-submit")
            span.main-button__text(data-btn-submit-text="data-btn-submit-text") Надіслати
            .main-button__arrow
              +svg('arrow')

      //include ../components/form/form.pug

block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
