
extends ../layout/main
block variable
  -
    var title_page = 'Квартира 2А'
    var id_page = 'flat-page'
    var class_page = 'flat-page'
    var breadcrumbsBtn = 'filter'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]

block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/header.js')
block content
  //- include ../includes/breadcrumbs.pug
  section.home-section-1
    .section-bg.section-bg__top
        +img('bg-logo-white-top.png')
    .template-content.template-dark
        .template-content__title
            span Про
            | Bereg
            | Residence
        .template-content__text Дізнайтеся більше про новий житловий комплекс на березі Дніпра.
        a(href='about').template-content__link
            span Перейти до розділу
            .link__arrow
                +svg('arrow')
    .section-bg.section-bg__bottom
      +img('bg-logo-white-bottom.png')
    .home-bg-image
      +img('home/1.png')

block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
