extends ../layout/main
block variable
  -
    var title_page = 'infrastructure'
    var id_page = 'page-infrastructure'
    var class_page = 'page-infrastructure'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]

block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/infrastructure.js')
block content
  .infrastructure
    include ../includes/breadcrumbs.pug
    .section-sliceFigure
      .section-sliceFigure__template.section-sliceFigure__template_offset
        h1.section-sliceFigure__title Локація та інфраструктура
        .section-sliceFigure__text.section-sliceFigure__text_offset Житловий комплекс BEREG Residence розташований між Оболонською набережною та Рибальським півостровом. У пішої доступності ТРЦ Блокбастер, кінотеатр Планета Кіно, парк розваг Галактика, фітнес-центр Спортлайф, Сільпо та IKEA.
          +svg('DecorTriangle').section-sliceFigure__decorate
      .section-sliceFigure__img
        picture
          source(media="(min-width: 993px)" srcset="assets/images/infrastructure/1.jpg")
          source(media="(max-width: 992px)" srcset="assets/images/infrastructure/1-table.jpg")
          img(src="assets/images/infrastructure/1.jpg")
      .sliceFigure-big
        +svg('sliceFigure-big')
      .sliceFigure
        +svg('sliceFigure')
      .icon-mouse.icon-mouse_position.icon-mouse_animation
        +svg('scroll')

    .infrastructure__section-2
      .infrastructure__left.infrastructure__left_offset
        .template-simple__content
          .template-simple__title Вся міська інфраструктура, як на долоні:
          .template-simple__items
            .template-simple__item приватні та державні лікарні і клініки
            .template-simple__item ветеринарна клініка Зоолюкс
            .template-simple__item спортзал з басейном SportLife
            .template-simple__item загальноосвітні школи та безліч приватних дитячих садочків
      .infrastructure__right.infrastructure__right_offset
        .template-simple__text
          p Парк Почайна безпосередньо межує з територією BEREG Residence, а за 10 хвилин пішки Ви дістанетесь Оболонської набережної.
          p Не треба планувати довгі поїздки у центр Києва, лише 10 хвилин на авто  і Ви вже на місці. Більше не треба витрачати час, який можна присвятити собі та своїй родині!
      .infrastructure__dark-bg
      .sliceFigure-big
        +svg('sliceFigure-big')
      .sliceFigure
        +svg('sliceFigure')
    .infrastructure__map
      div(id='map' class='map')
      .infra.map__legend(data-mob-accordeon)
        .infra__title.map__legend-title Об’єкти інфраструктури
        ul.infra__list.map__legend-markers-wrap
          li.infra__elem.map__legend-marker(data-category='cafe' data-marker)
            +svg('cafe').infra__icon
            .infra__name Ресторани
          li.infra__elem.map__legend-marker(data-category='bar' data-marker)
            +svg('bars').infra__icon
            .infra__name Бари
          li.infra__elem.map__legend-marker(data-category='school' data-marker)
            +svg('school').infra__icon
            .infra__name Навчальні заклади
          li.infra__elem.map__legend-marker(data-category='kindergarden' data-marker)
            +svg('kindergarden').infra__icon
            .infra__name Дитячі садочки
          li.infra__elem.map__legend-marker(data-category='park' data-marker)
            +svg('parks').infra__icon
            .infra__name Парки та сквери
    .genplan
      svg(width="868" height="668" viewBox="0 0 868 668" fill="none" xmlns="http://www.w3.org/2000/svg" data-genplane).genplan__svg
        image( x="0" y="0" height="100%" width="100%" style="object-fit:cover" xlink:href="assets/images/infrastructure/genplan.jpg")
        path(class="genplan__polygon" data-genplane-polygon data-polygon-type="parking1" d="M282 115L369 112C369 112 365.782 135.5 359 157.5C352.218 179.5 348.261 189.111 340 206C317.5 252 282 285.5 282 285.5V115Z"  fill="#CFA46E")
        path(class="genplan__polygon" data-genplane-polygon data-polygon-type="terrace" d="M449 230.5L460 239.5L383 243.5L380 238L381 235L336.5 212.5C336.5 212.5 318 242 309.5 253C301 264 275.5 290.5 275.5 290.5L312.5 328C312.5 328 357.5 287.5 418.5 287.5C479.5 287.5 514.5 317 514.5 317L546 275.5C546 275.5 512 252 478.5 207L449 230.5Z"  fill="#CFA46E")
        rect(class="genplan__polygon" data-genplane-polygon data-polygon-type="football" x="81.7422" y="379.322" width="138" height="112"  fill="#CFA46E")
        path(class="genplan__polygon" data-genplane-polygon data-polygon-type="parking2" d="M138.514 636.637L113.06 540.001L612.758 409.576L641.991 521.032L299.897 610.344L296.082 595.957L138.514 636.637Z"  fill="#CFA46E")
        path(class="genplan__polygon" data-genplane-polygon data-polygon-type="basket" d="M605.187 414.655L537.234 432.405L564.905 538.945L632.371 521.517L605.187 414.655Z"  fill="#CFA46E")
        path(class="genplan__polygon" data-genplane-polygon data-polygon-type="office" d="M580.445 37.2966L599.584 66.6797L534.614 56.5476L524.037 35.7768L534.614 30.2041L580.445 37.2966Z"  fill="#CFA46E")
        path(class="genplan__polygon" data-genplane-polygon data-polygon-type="greenZone" d="M785.5 440.5L631.5 480L613.106 411.264C612.71 409.786 611.899 408.452 610.768 407.421L600.427 397.992C597.175 395.027 594.549 391.442 592.704 387.448L559 314.5L546.499 278.386C545.848 276.505 544.689 274.891 543.126 273.659C531.057 264.145 476.241 219.026 454.5 168C430 110.5 427.5 69 427.5 69L464.463 66.7184C466.803 66.5739 469.099 66.0192 471.247 65.0795L473.796 63.9642C475.259 63.3242 476.63 62.4925 477.873 61.4909L481.785 58.3401C488.129 53.2292 497.557 55.1466 501.402 62.3295L507.836 74.3522C511.089 80.4289 517.001 84.6303 523.809 85.7029L583.456 95.0992C585.145 95.3653 586.793 95.847 588.36 96.5324L588.649 96.659C592.136 98.1844 595.084 100.722 597.112 103.943L601.002 110.121C601.996 111.7 602.78 113.403 603.333 115.185C605.588 122.451 603.632 130.368 598.253 135.747L595.5 138.5L648.5 219.5C658.222 213.389 671.046 216.177 677.354 225.772L795.59 405.642C802.071 415.501 800.04 428.665 790.889 436.113L785.5 440.5Z"  fill="#CFA46E")
        path(class="genplan__polygon" data-genplane-polygon data-polygon-type="transition" d="M575.449 400.232L580.963 416.972L600.638 411.52L590.912 384.022C580.267 353.926 560.7 327.789 534.82 309.098L527.631 303.906L515.779 319.077C543.779 339.11 564.677 367.533 575.449 400.232Z"  fill="#CFA46E")
        path(class="genplan__polygon" data-genplane-polygon data-polygon-type="workout" d="M335.324 440.078L337.089 435.867C340.54 427.637 336.333 418.202 327.905 415.268C324.315 414.018 320.488 413.598 316.712 414.04L298.338 416.191L275.013 420.682C269.018 420.682 263.086 419.6 260.536 418.202C258.551 417.113 252.733 414.329 248.275 412.023C243.818 409.717 240.012 409.525 238.667 409.717C236.938 409.909 233.056 411.216 231.365 414.905C229.251 419.517 227.714 423.937 229.251 431.623C230.788 439.31 234.638 441.298 235.454 445.651C236.162 449.428 235.912 453.465 234.913 458.045C233.914 462.625 229.635 468.902 229.251 471.785C228.867 474.667 230.02 477.357 233.479 481.009C236.938 484.66 242.895 486.389 248.275 487.734C253.656 489.079 263.84 486.965 268.068 486.389C272.295 485.813 285.939 481.777 291.319 479.279C296.699 476.781 304.194 470.44 308.998 465.636C313.802 460.832 318.031 458.091 324.372 452.519C329.445 448.061 333.915 442.064 335.324 440.078Z"  fill="#CFA46E")
        path(class="genplan__polygon" data-genplane-polygon data-polygon-type="childrenPlace1" d="M415.33 411.373C412.44 414.263 411.07 417.494 410.746 418.748C410.212 420.228 410.746 424.468 411.831 427.064C412.698 429.141 413.622 430.94 413.975 431.579C414.164 432.106 414.427 433.747 413.975 436.095C413.411 439.03 410.746 440.61 408.896 441.626C407.045 442.642 399.188 443.771 392.753 444.561C386.319 445.351 377.288 444.9 373.789 444.561C370.29 444.222 365.549 442.416 359.905 438.804C354.26 435.192 349.632 428.193 346.246 422.775C343.537 418.44 342.032 413.368 341.618 411.373C341.392 410.508 340.94 408.167 340.94 405.729C340.94 402.681 342.407 397.489 343.085 394.892C343.762 392.296 343.87 387.678 344.044 385.385C344.405 380.647 342.625 370.21 340.939 360.182C339.252 350.154 340.317 344.741 340.495 343.587C340.672 342.433 342.536 338.795 344.044 336.665C345.251 334.961 345.563 333.589 345.568 333.115C345.568 332.76 345.743 331.82 346.44 330.897C347.138 329.974 349.275 328.264 350.256 327.525C350.878 326.815 353.469 325.004 358.864 323.442C365.609 321.49 372.442 324.596 375.726 326.105C378.352 327.312 383.742 332.583 386.109 335.068C390.072 340.304 398.728 351.681 401.639 355.301C405.277 359.827 412.998 365.152 417.701 367.814C422.405 370.476 424.925 374.914 426.753 380.061C428.216 384.178 427.799 389.783 427.408 392.07C427.408 393.425 426.279 397.827 424.925 400.762C423.57 403.697 418.942 407.761 415.33 411.373Z" fill-opacity="0.8" fill="#CFA46E")
        path(class="genplan__polygon" data-genplane-polygon data-polygon-type="childrenPlace2" d="M443.405 362.264C438.102 364.614 435.16 367.912 433.632 369.468C431.318 371.823 429.042 375.846 428.517 377.054C427.86 378.565 427.728 380.405 427.597 383.427C427.465 386.448 428.517 394.003 429.83 396.565C431.144 399.127 427.167 400.971 426.361 401.294C425.555 401.616 424.426 404.304 423.673 405.487C422.921 406.669 420.501 408.282 419.158 409.787C417.814 411.293 413.513 416.077 412.707 417.582C411.913 419.063 411.848 419.816 411.744 421.017L411.738 421.077C411.652 422.066 411.989 423.603 412.168 424.248C412.473 425.503 413.308 428.452 414.211 430.215C415.34 432.42 417.706 433.925 419.641 433.925C421.189 433.925 423.978 432.491 425.179 431.774L431.038 425.754C431.414 425.037 432.253 423.345 432.597 422.313C433.027 421.023 432.741 420.852 433.632 416.675C434.522 412.498 438.498 414.982 442.11 412.16C445.723 409.338 465.4 402.969 466.236 402.969C467.072 402.969 467.204 402.969 468.304 403.537C469.403 404.105 469.459 403.537 470.013 403.537C470.568 403.537 479.969 400.18 482.345 401.781C484.72 403.382 489.936 403.485 491.847 403.537C493.758 403.589 500.214 403.072 501.66 402.969C503.106 402.866 509.303 402.492 511.627 402.492H524.944C527.673 402.492 534.16 401.401 535.736 401.037C537.313 400.673 543.436 398.854 545.073 398.127C546.71 397.399 552.046 394.671 553.501 393.943C554.956 393.216 559.625 390.609 561.262 389.76C562.873 388.925 562.781 387.561 562.72 386.651L562.717 386.607C562.656 385.698 561.807 385.031 560.959 384.424C560.28 383.939 558.089 383.293 557.078 383.03C556.088 382.808 553.695 382.363 552.046 382.363C549.985 382.363 547.135 381.999 542.527 381.029C538.841 380.253 536.464 378.927 535.736 378.361C535.514 378.2 534.633 377.537 532.887 376.179C530.704 374.481 528.097 373.086 523.307 370.469C518.517 367.852 513.849 368.842 511.363 369.145C508.877 369.449 504.512 369.812 502.754 369.873C500.995 369.934 499.257 369.468 492.127 370.469C484.998 371.471 480.891 361.36 480.399 360.377C479.908 359.394 476.632 357.346 475.075 356.773C473.519 356.2 469.424 355.135 467.049 354.971C464.674 354.807 459.022 356.364 456.565 357.346C454.108 358.329 449.043 359.766 443.405 362.264Z"  fill="#CFA46E")
        path(class="genplan__polygon" data-genplane-polygon data-polygon-type="lightZone" d="M454.108 67.6104L429.267 69.0463C430.48 71.7879 433.55 77.829 436.121 80.0602C439.335 82.8492 441.335 85.5776 447.701 87.7603C454.068 89.943 466.376 102.502 471.65 103.767C476.925 105.031 481.291 105.464 489.287 106.616C495.683 107.538 505.305 113.618 509.317 116.543C512.231 118.544 518.815 123.152 521.838 125.582C525.617 128.62 527.469 132.473 528.062 135.51C528.655 138.548 527.691 142.549 526.951 144.55C526.21 146.55 517.126 160.578 516.672 162.014C516.219 163.45 514.48 167.457 515.387 173.722C516.294 179.987 524.685 187.942 528.389 190.286C531.968 192.55 540.275 200.107 552.901 211.593L554.241 212.812C564.945 222.548 573.366 227.3 576.238 228.459C579.539 229.442 586.942 231.785 590.147 233.297C593.352 234.809 598.135 239.319 600.125 241.386C601.562 242.69 605.387 245.651 609.196 247.055C613.006 248.459 620.157 249.404 623.256 249.701C625.222 249.852 630.377 250.638 635.276 252.573C641.398 254.992 643.666 261.795 644.351 264.101C644.899 265.945 643.266 275.78 642.381 280.466C642.471 282.035 642.991 285.875 644.351 288.681C646.052 292.189 649.028 296.989 650.752 299.735C652.477 302.482 651.792 303.987 652 307.495L652.011 307.685C652.227 311.329 652.767 320.433 653.811 324.714C654.874 329.072 660.189 333.517 662.74 335.875C665.291 338.233 675.749 340.127 678.259 340.658C680.769 341.19 688.25 340.977 692.289 341.508C696.329 342.04 700.687 344.06 703.631 345.654C706.575 347.248 709.19 351.075 710.784 353.838C712.379 356.602 716.312 369.038 717.268 371.377C718.225 373.715 723.646 388.703 724.071 391.051L724.111 391.271C724.57 393.803 725.758 400.352 725.316 402.414C724.861 404.54 724.496 406.666 722.218 416.277C719.941 425.888 717.587 425.374 714.079 427.181C710.572 428.988 705.895 428.456 701.196 427.894L701.156 427.89C696.49 427.332 695.135 427.17 686.762 423.46C678.365 419.74 668.48 409.114 665.929 406.028C663.378 402.943 653.705 391.051 652 389.447C650.295 387.843 646.583 383.859 643.663 381.314C640.742 378.769 631.809 374.459 629.47 373.609C627.132 372.759 620.116 371.058 610.125 371.377C600.133 371.696 591.329 376.373 588.654 377.329C585.979 378.286 575.367 384.451 573.666 385.195C571.966 385.939 555.49 396.675 548 400.289C540.51 403.902 527.535 405.709 523.815 406.028C520.095 406.347 488.526 404.328 478.215 404.753C467.905 405.178 462.64 406.542 455.043 409.217C447.447 411.891 435.698 421.441 427.735 429.838C421.365 436.556 409.698 444.613 404.661 447.801C400.94 448.9 392.309 451.097 387.547 451.097C381.595 451.097 372.241 449.715 368.415 449.077C364.588 448.439 354.171 446.207 351.727 446.101C349.283 445.995 339.503 446.207 334.507 447.801C329.511 449.396 324.086 453.248 321.221 455.136C318.356 457.023 309.654 465.234 303.682 471.08C297.711 476.926 290.608 480.008 286.25 481.709C282.764 483.07 271.475 485.465 266.267 486.492C261.909 487.094 251.22 487.81 243.327 485.854C233.461 483.41 229.596 475.012 229.596 473.312C229.596 471.611 231.084 466.509 233.21 463.155C235.336 459.801 235.974 455.029 236 449.715C236.021 445.463 232.732 438.306 231.084 435.259C229.95 434.08 228.065 429.516 229.596 420.694C231.509 409.666 240.833 409.886 243.327 409.886C245.821 409.886 250.44 413.212 256.721 416.537C261.747 419.197 268.744 420.417 271.615 420.694C273.226 420.633 277.275 420.352 280.576 419.717C283.878 419.082 306.82 415.469 317.878 413.742C319.947 412.845 325.235 410.15 329.83 406.542C335.575 402.033 336.29 397.018 338.83 389.717C340.862 383.876 337.983 376.278 336.29 373.209C334.703 370.352 330.04 363.685 324.086 359.876C316.643 355.114 311.726 347.019 310.576 343.685C309.656 341.019 310.959 331.885 311.726 327.651C301.402 317.094 280.754 296.041 280.754 296.289C280.754 296.598 280.624 298.12 280.754 301.887C280.884 305.654 285.506 322.376 290.714 334.068C295.923 345.76 312.505 360.322 315.056 362.236C317.607 364.149 324.086 365.85 329.83 376.798C335.528 387.656 328.725 396.112 324.198 401.739L324.086 401.878C319.56 407.504 304.516 408.972 300.725 409.217C297.691 409.412 286.904 411.5 281.889 412.519C279.443 412.886 273.963 413.644 271.615 413.742C268.68 413.864 264.521 412.519 260.607 411.051C256.693 409.584 251.923 405.914 246.786 403.591C242.677 401.731 235.452 403.713 232.354 404.936C230.723 405.914 226.948 408.801 224.893 412.519C222.324 417.167 221.958 429.275 222.325 431.722C222.618 433.679 224.159 437.416 224.893 439.041C226.402 442.268 229.394 449.383 229.296 452.025C229.174 455.327 228.807 455.939 226.605 460.464C224.844 464.085 223.752 468.088 223.426 469.637C223.14 470.942 222.912 474.579 224.282 478.688C225.994 483.825 231.987 488.473 235.167 490.308C238.347 492.142 250.456 495.078 261.219 494.588C271.982 494.099 295.099 485.171 297.667 483.948C300.236 482.724 306.107 478.077 309.654 474.53C313.2 470.983 317.848 466.824 321.884 463.155C325.113 460.22 328.774 458.018 330.201 457.284C331.221 456.632 334.018 455.083 337.051 454.104C340.843 452.881 345.612 453.003 351.727 453.248C357.843 453.493 376.923 457.896 385.729 458.507C394.535 459.119 405.299 455.083 411.292 452.025C417.285 448.967 426.254 440.779 427.735 439.041C428.92 437.65 439.819 427.859 445.12 423.137C446.855 421.737 452.787 418.049 462.64 414.495C474.956 410.053 518.401 413.126 525.01 413.126C531.62 413.126 538.937 411.002 545.704 409.114C552.471 407.225 587.125 385.519 591.329 383.859C595.533 382.199 608.368 378.659 611.023 378.327C613.679 377.995 623.526 378.769 630.275 381.314C637.024 383.859 639.569 387.731 643.663 391.051C647.756 394.37 667.008 417.937 669.442 420.15C671.876 422.362 678.072 426.345 682.94 429.333C686.835 431.723 696.734 434.164 701.196 435.086C707.724 436.082 715.137 434.422 718.235 433.427C721.333 432.431 723.546 429.997 725.316 427.894C727.087 425.792 729.078 418.269 729.41 416.277C729.742 414.286 732.287 405.102 732.508 401.562C732.685 398.729 732.066 393.374 731.734 391.051C729.447 384.228 724.343 368.967 722.218 362.505C719.563 354.428 713.035 344.913 711.929 343.364C710.822 341.815 706.065 338.385 703.631 337.279C701.196 336.172 695.332 334.955 693.562 334.734C691.886 334.524 682.178 333.918 676.642 333.573L675.749 333.517C671.5 333.251 667.119 330.603 665.459 329.312C664.426 328.022 662.051 324.931 660.812 322.895C659.263 320.35 659.136 313.619 659.406 310.915C659.677 308.211 658.46 300.775 657.649 296.989C656.838 293.203 651.536 287.155 651.088 285.868C650.641 284.581 649.745 281 649.857 279.209C649.947 277.777 650.491 274.136 650.752 272.494C650.995 270.592 651.491 266.249 651.536 264.101C651.592 261.415 648.058 255.053 646.883 253.173C645.708 251.293 641.478 248.12 640.891 247.768L636.778 245.3C635.407 244.791 631.585 243.679 627.26 243.303C621.855 242.833 614.218 240.835 612.455 240.482C610.693 240.13 606.345 237.545 602.82 233.902C600 230.988 594.047 227.126 591.423 225.56C587.193 224.15 578.333 221.212 576.735 220.742C574.737 220.155 568.04 216.042 564.75 213.34C561.46 210.637 558.64 207.935 554.762 203.587C550.885 199.24 536.958 187.507 533.368 185.066C529.779 182.625 524.179 176.738 523.03 173.722C521.881 170.707 522.743 167.261 523.03 164.963C523.317 162.666 528.773 156.061 530.784 153.189C532.794 150.317 534.517 143.856 535.378 140.41C536.24 136.964 534.948 133.661 534.517 132.081C534.086 130.502 532.65 127.487 530.784 124.758C528.917 122.03 522.886 116.718 515.994 112.266C509.102 107.815 502.64 104.225 499.912 102.502C497.184 100.779 491.297 99.6305 489.287 99.0561C487.276 98.4818 482.538 98.4818 478.087 97.9074C473.635 97.3331 469.328 94.6049 467.174 93.0254C465.02 91.4459 462.723 89.5793 461.143 88.1434C459.564 86.7075 457.123 84.2665 455.543 83.2614C453.964 82.2563 454.108 80.8204 452.815 77.6614C451.781 75.1343 452.384 71.9179 452.815 70.6256L454.108 67.6104Z"  fill="#CFA46E")
      .genplan__content
        .genplan__title Генплан
        ul.genplan__list(data-markers-wrap)
          li(data-marker data-category='office').genplan__elem Офіс продажу
          li(data-marker data-category='parking1').genplan__elem Паркування для автомобілів доставки
          li(data-marker data-category='greenZone').genplan__elem Алея для прогулянок
          li(data-marker data-category='lightZone').genplan__elem Зона відпочинку
          li(data-marker data-category='terrace').genplan__elem Тераса
          li(data-marker data-category='football').genplan__elem Міні-футбольне поле
          li(data-marker data-category='workout').genplan__elem Воркаут зона
          li(data-marker data-category='childrenPlace1').genplan__elem Дитячий майданчик ( від 7 років)
          li(data-marker data-category='childrenPlace2').genplan__elem Дитячий майданчик ( від 6 років)
          li(data-marker data-category='transition').genplan__elem Критий перехід до паркінгу
          li(data-marker data-category='parking2').genplan__elem Критий паркінг
          li(data-marker data-category='basket').genplan__elem Баскетбольний майданчик
  .helper-map(data-helper-map)
    span.helper-map__title Карта
    .link__arrow.helper-map__arrow
      +svg('arrow')

block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
