
extends ../layout/main
block variable
  -
    var title_page = 'rooms'
    var id_page = 'page-rooms'
    var class_page = 'page-rooms'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]

block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/rooms.js')
block content
  include ../includes/breadcrumbs.pug

  .filter-wrap
    .filter__title Фільтр вибору
    form(name="filter").filter
      .filter__group
        .filter__name Загальна пл. м
          sup ²
        input.filter__input(name="area" data-filter-name='area' data-type="range" data-min="1" data-max="15" data-from="1" data-to="15")
      .filter__group
        .filter__name Загальна пл. м
          sup ²
        input.filter__input(name="life" data-filter-name='life' data-type="range" data-min="1" data-max="15" data-from="1" data-to="15")
      .filter__group
        .filter__name Загальна пл. м
          sup ²
        input.filter__input(name="floor" data-filter-name='floor' data-type="range" data-min="1" data-max="15" data-from="1" data-to="15")
      .filter__group.filter__group_center
        a(href='one' data-disabled).filter__link.filter__link_offset.link_disable 1-кімнатні
        a(href='three').filter__link 3-кімнатні
      .filter__group
        button(type="button").filter__apply шукати
      .filter__group.filter__group_center
        button(type="button").filter__reset
          +svg('reset').reset__icon.reset__icon_offset
          span Скинути параметри
      button(type="button").filter__hide
        span Згорнути

  .page-rooms__top
    h1.title Фільтр вибору
    .found
      .found__name Знайдено
      span.found__num 1
      span з
      span.found__all 234
  .rooms
    .card
      +img('rooms/flat.svg').card__img
      .card__title Квартира Р6-3
      table.card__table
        tr
          td Поверх:
          td 7
        tr
          td Кімнат:
          td 4
        tr
          td Загальна пл. м²:
          td 98
        tr
          td Житлова пл. м²:
          td 124
      a(href="").card__link
        span Детальніше
        .card__link-svg
          +svg('arrow')


block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
