.breadcrumbs {
  margin: 0 250px 0 auto;
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: #C4C7CC;
  &-list {
    display: flex;
    align-items: center;
    align-content: center;
  }
  .link__arrow {
    margin: 0 15px;
    fill: #C4C7CC;
    @include to(992px) {
      margin: 0 20px;
    }
    @include to(480px) {
      margin: 0 15px;
    }
  }

  @include to(1440px) {
    margin: 0 160px 0 auto;
  }

  @include to(992px) {
    font-size: 14px;
    margin: 0 40px 0 auto;
  }
  @include to(480px) {
    font-size: 10px;
    margin: 0 20px 0 auto;
  }
}
