// Global class
.wow:not(#some){
	opacity: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.js-input-focus:not(#some) {
  .main-form__text{
    transform: translateY(-110%);
  }
}
.js-no-valid:not(#some)+.main-form-content {
    svg{
      fill: red;
    }
}
.js-no-valid:not(#some){
  border-bottom: 1px solid red;
}

.overflow--hidden:not(#some){
	overflow: hidden;
	margin-right: 10px;
}

.color--wc{
  color: $wc;
}
.color--bc{
  color: $bc;
}
.color--mc{
  color: $mc;
}

.fill--mc svg {
	fill: $mc;
}

.template-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 5;
  &__title {
    font-family: $default-font;
    font-weight: 600;
    font-size: 68px;
    line-height: 1.2em;
    color: $mc;
    span {
      font-weight: 400;
      margin: 0 12px 0 0;
      @include from(1600px) {
        margin: 0 6px 0 0;
      }
    }
    @include to(1440px) {
      font-size: 48px;
    }
    @include to(573px) {
      font-size: 30px;
    }
    @include to(360px) {
      font-size: 24px;
    }
  }
  &__text {
    position: relative;
    max-width: 460px;
    padding: 0 0 0 78px;
    margin-top: 50px;
    font-family: $default-font;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.4em;
    color: $mc;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 0;
      height: 50px;
      border-left: 1px solid rgba(26, 41, 65, 0.3);
    }
    @include to(1440px) {
      padding: 0 0 0 40px;
      max-width: 300px;
      margin-top: 40px;
      font-size: 16px;
    }
    @include to(992px) {
      max-width: 360px;
      font-size: 20px;
    }
    @include to(576px) {
      padding: 0 0 0 20px;
      max-width: 240px;
      margin-top: 20px;
      font-size: 14px;
    }
    @include to(380px) {
      font-size: 13px;
    }
  }
  &__link {
    padding: 0 0 0 78px;
    margin-top: 50px;
    font-size: 28px;
    @include to(1440px) {
      padding: 0 0 0 40px;
      margin-top: 40px;
      font-size: 20px;
    }
    @include to(576px) {
      padding: 0 0 0 20px;
      margin-top: 20px;
    }
  }
  &--white * {
    color: $light;
    fill: $light;
  }
  &--dark * {
    color: $dark;
    fill: $dark;
  }
}

.link {
  display: flex;
  align-items: center;
  font-family: $default-font;
  font-weight: 600;
  font-size: 28px;
  line-height: 1em;
  color: #1A2941;
  white-space: nowrap;
  text-decoration: none;
  @include to(1440px) {
    font-size: 20px;
    line-height: 1.2em;
  }
  @include to(992px) {
    font-size: 24px;
    line-height: 1.4em;
  }
  @include to(576px) {
    font-size: 14px;
    line-height: 1em;
  }
  &__arrow {
    display: flex;
    width: 70px;
    height: 13px;
    margin: 0 0 0 50px;
    svg {
      height: 100%;
    }
    @include to(1440px) {
      width: 50px;
      height: 9px;
      margin: 0 0 0 20px;
    }
    @include to(992px) {
      margin: 0 0 0 30px;
    }
  }
  &__white *{
    color: $light;
    fill: $light;
  }
  &__dark *{
    color: $dark;
    fill: $dark;
  }
}

.all__dark, .all__dark * {
  color: $dark;
  fill: $dark;
}
.all__white, .all__white * {
  color: $light;
  fill: $light;
}

.section-bg {
  position: absolute;
  left: 0;
  width: 100%;
  height: 240px;
  z-index: 1;
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  &__dark-top {
    top: 0;
    background-position-y: top;
    background-image: url("../images/bg-dark-top.png");
    background-repeat: repeat-x;
  }
  &__dark-bottom {
    bottom: 0;
    background-position-y: bottom;
    background-image: url("../images/bg-dark-bottom.png");
    background-repeat: repeat-x;
  }
  &__white-top {
    top: 0;
    background-position-y: top;
    background-image: url("../images/bg-white-top.png");
    background-repeat: repeat-x;
  }
  &__white-bottom {
    bottom: 0;
    background-position-y: bottom;
    background-image: url("../images/bg-white-bottom.png");
    background-repeat: repeat-x;
  }
  &__gold-top {
    top: 0;
    background-position-y: top;
    background-image: url("../images/bg-gold-top.png");
    background-repeat: repeat-x;
  }
  &__gold-bottom {
    bottom: 0;
    background-position-y: bottom;
    background-image: url("../images/bg-gold-bottom.png");
    background-repeat: repeat-x;
  }

  @include to(1440px) {
    height: 170px;
  }
  @include to(992px) {
    display: none;
  }
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #CFA46E;
  svg {
    height: 55%;
    width: 55%;
    fill: transparent;
  }
}

.title {
  font-weight: normal;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #E2E3E4;
}

.sliceFigure {
  display: none;
  height: var(--sliceFigure);
  grid-row: 2;
  grid-column: 1 / span 3;
  z-index: 10;
  @include to(992px) {
    display: inline-block;
  }
  svg {
    display: inline-block;
    margin: -2px 0 0;
    width: 100%;
    height: 239px;
  }
  //&-big {
  //  grid-row: 1 / span 3;
  //  grid-column: 3;
  //  width: 414px;
  //  height: 616px;
  //  z-index: 50;
  //  clip-path: url('#mask');
  //  svg {
  //    height: 100%;
  //    width: 100%;
  //  }
  //}
}

picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
