$default-font: "gilroy",
sans-serif;
$default-font2: "montser",
sans-serif;

$mc2: #FF554C;
$mc3: #E5DF06;
$mc4: #4F90B6;
$gray:rgb(135, 135, 151);
$text: #22223E;
$wc: #fff;
$bc: #000;
$bc2: #000;

$mc: #1A2941;
$bg: #FAFAFA;
$light: #FCFCFC;
:root {
  --in: cubic-bezier(0.13, 0.81, 0.23, 0.96);
  --header-h: 90px;

}

@media screen and (min-width: 1600px){
  :root {
    --header-h: 120px;
  }
}
