.popup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  padding: 40px 60px 60px;
  background-color: #1C2029;
  border: 1px solid rgba(255, 255, 255, 0.25);
  &-wrap {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 101;
    transition: visibility .4s ease-in-out, opacity .4s ease-in-out;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    background-image: url("../images/pattern.jpg");
    &.active {
      pointer-events: painted;
      visibility: visible;
      opacity: 1;
    }
  }
  &__close {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 0 0 auto;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%)rotate(45deg);
      width: 25px;
      height: 0;
      border-bottom: 2px solid #E2E5EB;
      &:nth-child(2) {
        transform: translate(-50%, -50%)rotate(-45deg);
      }
    }
    @include from(1023px) {
      &:hover {
        transform: rotate(180deg);
        span {
          border-color: $gold;
        }
      }
    }
  }
  &__title {
    margin-bottom: 35px;
    font-family: $default-font;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0.02em;
    color: #FEFEFE;
    @include to(992px) {
      margin-bottom: 40px;
    }
    @include to(576px) {
      margin-bottom: 20px;
    }
  }
  form {
    margin-top: 40px;
  }
}

